<plugin name='uploadr' version='0.5.2' grailsVersion='1.3.7 &gt; *'>
  <author>Jeroen Wesbeek</author>
  <authorEmail>work@osx.eu</authorEmail>
  <title>A HTML5 drag and drop multi-file upload plugin</title>
  <description>\
A HTML5 drag and drop multi-file upload plugin
</description>
  <documentation>http://grails.org/plugin/uploadr</documentation>
  <resources>
    <resource>UploadrPluginResources</resource>
    <resource>UrlMappings</resource>
    <resource>hungry.wombat.UploadController</resource>
    <resource>hungry.wombat.UploadrTagLib</resource>
  </resources>
  <dependencies>
    <plugin name='jquery' version='1.4 =&gt; *' />
    <plugin name='jqueryUi' version='1.8 =&gt; *' />
    <plugin name='modernizr' version='1.7.2 =&gt; *' />
    <plugin name='resources' version='1.0 =&gt; *' />
  </dependencies>
  <behavior />
</plugin>