<plugin name='uploadr' version='1.0.0' grailsVersion='2.4 &gt; *'>
  <author>Jeroen Wesbeek</author>
  <authorEmail>work@osx.eu</authorEmail>
  <title>A HTML5 drag and drop multi-file upload plugin</title>
  <description>A HTML5 drag and drop multi-file upload plugin</description>
  <documentation>https://github.com/4np/grails-uploadr/blob/master/README.md</documentation>
  <type>UploadrGrailsPlugin</type>
  <resources>
    <resource>hungry.wombat.UploadController</resource>
    <resource>hungry.wombat.UploadrTagLib</resource>
  </resources>
</plugin>