.demo-dropable {
	border: 1px solid #ccc;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.demo-hover {
	border: 1px solid #f4aa00;
	box-shadow: 0 0 10px #f4aa00;
}

.demo {
	font: 10px normal Arial, Helvetica, sans-serif;
	width: 300px;
}

.demo .placeholder {
	color: #abc;
	font-size: 12px;
	width: 100%;
	height: 100%;
	line-height: 20px;
	vertical-align: middle;
	text-align: center;
	font-weight: bold;
	z-index: 0;
}

.demo .badge {
	width: 30px;
	height: 31px;
	background-image: url(../images/greenbadge.gif);
	background-repeat: no-repeat;
	background-position: center;
	/*margin-top: -52px;*/
	/*margin-left: 400px;*/
	position: relative;
	left: 287px;
	top: 15px;
	color: #fff;
	font: 12px normal Arial, Helvetica, sans-serif;
	line-height: 33px;
	text-align: center;
	cursor: default;
}

.demo .fileinput {
	display: block;
	margin-bottom: -42px;
	margin-left: 4px;
	width: 200px;
	height: 30px;
	vertical-align: middle;
	overflow: hidden;
}

.demo .fileinput .message {
	font-weight: bold;
	height: 20px;
	line-height: 20px;
	padding-left: 20px;
	padding-top: 3px;
	background-image: url(../images/select.gif);
	background-repeat: no-repeat;
	background-position: left center;
	cursor: pointer;
	cursor: hand;
}

.demo .fileinput input {
	filter:alpha(opacity:0);
	KHTMLOpacity:0;
	MozOpacity:0;
	-khtml-opacity:0;
	-ms-filter:"alpha(opacity=0)";
	-moz-opacity:0;
	opacity:0;
	width: 10px;
}

.demo .files {
	min-height: 20px;
	margin: 5px;
	padding: 3px 5px 5px 3px;
	z-index: 1;
	box-shadow: 0 0 10px #CCCCCC;
}

.demo .file {
	width: 100%;
	height: 20px;
	background-color: transparent;
}

.demo .file .progress {
	display: block;
	width: 0%;
	height: inherit;
	background-color: #ffb16f;
	border: 1px solid #e24912;
	margin-top: -22px;
}

.demo .file .background {
	display: block;
	width: inherit;
	height: inherit;
	background-color: #c0ddea;
	border: 1px solid #003a69;
}

.demo .file .complete {
	background-color: #bce08a;
	border: 1px solid #545f1d;
}

.demo .file .failed {
	background-color: #ffb8ad;
	border: 1px solid #fe4819;
}

.demo .file .info {
	display: block;
	height: inherit;
	margin-top: -20px;
	vertical-align: middle;
	margin-left: 2px;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.demo .file .info .details {
	display: inline-block;
	width: 240px;
	height: 18px;
}

.demo .file .info .details .name {
	color: #FFFFFF;
	font-weight: bold;
	letter-spacing: -1px;
	font-size: 12px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.68);
	margin-left: 30px;
	width: auto;
}

.demo .file .info .details .size {
	display: block;
	color: #243748;
	width: 30px;
	font-size: 8px;
	line-height: 10px;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
	margin-top: -15px;
}

.demo .file .info .details .percentage {
	display: block;
	width: 30px;
	color: #243748;
	font-size: 8px;
	line-height: 10px;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
}

.demo .file .info .details .speed {
	display: none;
}

.demo .file .info .controls {
	display: inline-block;
	width: 66px;
	height: 20px;
	float: right;
	overflow: hidden;
	margin: -20px -2px 0px 0px;
}

.demo .file .info .controls .buttons {
	display: block;
	vertical-align: top;
	width: 64px;
	height: 16px;
	margin: 2px 2px 2px 0px;
}

.demo .file .info .controls .buttons .button {
	display: inline-block;
	float: right;
	width: 16px;
	height: 16px;
}

.demo .file .info .controls .buttons .view {
	background-image: url(../images/view.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.demo .file .info .controls .buttons .download {
	background-image: url(../images/download.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.demo .file .info .controls .buttons .color {
	background-image: url(../images/color.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.demo .file .info .controls .buttons .delete {
	background-image: url(../images/delete.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.demo .file .info .controls .buttons .cancel {
	background-image: url(../images/cancel.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.demo .pagination {
	display: block;
	height: 20px;
	width: 100%;
	margin: -2px 10px 10px 4px;
}

.demo .pagination .previous {
	display: inline-block;
	background-image: url(../images/previous.png);
	background-repeat: no-repeat;
	background-position: left center;
	width: 20px;
	height: 20px;
}

.demo .pagination .next {
	display: inline-block;
	background-image: url(../images/next.png);
	background-repeat: no-repeat;
	background-position: left center;
	width: 20px;
	height: 20px;
}

.demo .pagination .pages {
	display: inline-block;
	min-width: 20px;
	height: 18px;
	line-height: 18px;
	vertical-align: middle;
	margin-top: -12px;
}

.demo .pagination .pages li {
	display: inline-block;
	width: 10px;
	list-style: none;
	font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;
	font-size: 10px;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
}

.demo .pagination .pages .current {
	font-weight: bold;
}

/** WARNING for non HTML 5 compliant browsers **/

.demo .warning {
	border: 1px solid #00a8e1;
	box-shadow: 0 0 20px #CCCCCC;
	padding: 10px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.demo .warning a, .demo .warning a:visited {
	text-decoration: none;
	color: #00a8e1;
	font-weight: normal;
	font-size: 12px;
	line-height: 12px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.30);
}

.demo .warning a:hover {
	border-bottom: 1px dotted red;
}

.demo .warning .message {
	font-size: 14px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.30);
	text-align: center;
	font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;
	padding-bottom: 20px;
}

.demo .warning .button {
	margin-left:auto;
	margin-right:auto;
	display: block;
	text-align: center;
	margin-bottom: 20px;
	width: 200px;
	height: 25px;
	line-height: 25px;
	vertical-align: middle;
	color: #fff;
	-moz-border-radius: 5px;
	border-radius: 5px;
    background: #3d80f5;
    background: -moz-linear-gradient(top, #3d80f5, #2254a5);
    background: -webkit-gradient(linear,left top, left bottom, from(#3d80f5), to(#2254a5));
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#3d80f5', EndColorStr='#2254a5', GradientType=0);
}

.demo .warning .button a, .demo .warning .button:visited {
	color: #fff;
}

.demo .warning .button a:hover {
	color: #ffe7ec;
	border: none;
}

.demo .warning .browsers {
	display: block;
	text-align: center;
}

.demo .warning .browsers .browser {
	display: inline-block;
	width: 100px;
	height: 100px;
	background-repeat: no-repeat;
	background-position: center top;
}

.demo .warning .browsers .chrome {
	background-image: url(../images/chrome.png);
}

.demo .warning .browsers .firefox {
	background-image: url(../images/firefox.png);
}

.demo .warning .browsers .safari {
	background-image: url(../images/safari.png);
}

.demo .warning .browsers .anchor {
	margin-top: 80px;
}